
h1{
    font-size: 30px;
    color: rgb(32, 171, 213);
        background-color: rgb(31, 2, 104);
}


h2{
    font-size: 30px;
    color: rgb(32, 116, 213);
        background-color: rgb(102, 193, 28);
}


h3{
    font-size: 30px;
    color: rgb(213, 101, 32);
        background-color: rgb(35, 197, 197);
}


h4{
    font-size: 30px;
    color: rgb(213, 32, 192);
    background-color: blanchedalmond;
}

