
h1{
    font-family: 'Noto Sans';
    font-size: 24px;
    color: rgb(59, 59, 59);
    font-weight: 700;
      
}


h2{
    font-family: 'Noto Sans';
    font-size: 16px;
    color: rgb(110, 110, 110);
    font-weight: normal;
}


h3{
    font-size: 30px;
    color: rgb(213, 101, 32);
        background-color: rgb(35, 197, 197);
}


h4{
    font-size: 30px;
    color: rgb(213, 32, 192);
    background-color: blanchedalmond;
}
.profile{

    border: 2px solid;
       border-color: rgb(215, 215, 215);
       display: flex;
       flex-direction:row;
       align-items :center;

      padding: 16px;
      height: 45px

}.profile h2{
    padding-top: 0;
}

.name_title{
display: block;
align-items: center;
padding-left:8px ;


}

img{
    width: 24px;
    height: 24px;
   border: 1px solid;
   border-radius: 100%;
    border-color: rgb(215, 215, 215);
}
